/ui export-ignore
/po export-ignore
/.vscode export-ignore
.gitignore export-ignore
.extensionignore export-ignore
.gitattributes export-ignore

# Docs
Todo.md export-ignore
Readme.md export-ignore

# Blog
Makefile export-ignore

# scripts
check.sh export-ignore

# JS
app.js export-ignore
check-symbols.js export-ignore

# Python
build.py export-ignore
install.py export-ignore