headerbar {
  background-color: transparent;
}


.hornbill-dock-container .show-apps {
    margin: 8px;
    background-color: blue;
}


.hornbill-dock-container .show-apps-vertical-margin {
    margin: 8px 0;
}
.dash-separator {
    /* GTK CSS has no 'height'; use min-height. */
    min-height: 0px;
}