/* Compact Panel and Buttons */
#panel .panel-button {
    border-radius: 8px;
    padding: 2px 6px;
    margin: 0 2px;
    min-width: 25px;
    color: #ffffff;
}

#panel .panel-button:hover {
    background-color: rgba(77, 77, 77, 0.37);
}

#panel .panel-button:active {
    background-color: rgba(77, 77, 77, 0.11);
}

#panel .panel-box {
    spacing: 2px;
}

.workspace-indicator {
    margin: 0 2px;
}

#panel .aggregate-menu.panel-button {
    padding: 2px 4px;
}

#panel .system-status-icon {
    padding: 0 2px;
    margin: 0;
}
